* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Tahoma, sans-serif;
}

/*Navigation*/
header{
	margin-inline: 10px;
}

.navigation{
	display: flex;
	align-items: center;
}

.navi{
	display: inline-block;
	margin: 10px;
	padding: 10px;
	width: 65%;
	border-radius: 5px;
	max-height: 80px;
	margin-right: 10px;
}

.nav-bar{
	list-style-type: none;
	overflow: hidden;
}

.nav-item{
	float: left;
	padding: 10px;
}

.nav-item a{
	text-decoration: none;
}

.nav-item a:hover{
	background-color: #5195c9;
	padding: 10px;
	border-radius: 5px;
}

.containerr{
	padding: 20px;
	margin: 10px;
	/*
	height: 800px;
	*/
}
/*Five K display part*/
.fiveK{
	border: 2px solid #323ea8;
	width: 200px;
	padding: 10px;
	margin: 10px;
}

.fiveK-title{
	padding: 10px;
	font-weight: 600;
	font-size: 20px;
	color: #1a6d78;
}

.fiveK-table{
	list-style-type: none;
}

.fiveK-content{
	padding: 5px;
	font-size: 18px;
}

.addMenu{
	padding: 1px;
	height: 90px;
	margin: 5px;
	width: 70%;
}

.close-icon i{
	font-size: 40px;
	float: left;
	cursor: pointer;
}

.hide{
	display: none;
}

.bar-icon{
	font-size: 40px;
	display: inline-block;
	margin-right: 25px;
	cursor: pointer;
}

.box{
	padding: 10px;
	margin-left: 200px;
	width: 20%;
	border: 2px solid #323ea8;
}

.box-title{
	font-weight: 600;
	font-size: 20px;
	padding: 20px;
}

.box-content{
	margin-inline: 10px;
	padding: 10px;
	color: #4e6969;
}

.box-content b{
	text-decoration: underline;
	color: #eb3b3b;
}

.quote1{
	margin: 10px;
	padding: 10px;
	font-weight: 600;
	font-size: 20px;
}

.quote2{
	margin-left: 200px;
	font-weight: 600;
	font-size: 20px;
}
/*
	CSS for the introdution part, includes: ;
	the title, divide div into 3 parts
*/
.intro{
	margin: 10px;
	padding: 20px;
}

.intro-title{
	font-size: 32px;
	font-weight: 600;
}

.intro-content{
	display: flex;
}

.intro-content-info{
	flex: 20%;
}

.intro-content-info ul{
	list-style-type: none;
}
.intro-content-info ul li{
	padding: 10px;
	margin: 10px;
}

.intro-content-employee{
	padding: 10px;
	flex: 20%;
}

.intro-content-employee ul{
	list-style-type: none;
}

.intro-content-employee ul li{
	padding: 10px;
	margin: 10px;
}

.intro-content-founder{
	padding: 10px;
	flex: 60%;
}

.founder-table{
	display: flex;
}

.founder-content{
	flex: 25%;
	display: absolute;
	align-items: center;
}

.founder-content button{
	display: absolute;
	float: right;
	padding: 10px;
	border: none;
	background-color: #fff;
	border-bottom: 2px solid #1c4057;
}

.founder-content button a{
	border-radius: 5px;
	padding: 10px;
	text-decoration: none;
	color: #1c4057;
}

.founder-content button:hover{
	border: none;
}

.founder-content button a:hover{
	background-color: #0d466b;
	color: #fff;
}

.founder-img img{
	width: 70%;
	display: block;
}

.founder-info{
	padding: 20px 10px;
}

.fouder-info h3{
	font-size: 24px;
	margin: 10px 0 15px 0;
}

.founder-info p{
	color: #a0a0a0;
	font-size: 16px;
	line-height: 30px;
}
/*
	CSS for the statistic and chart
*/
.statistic{
	margin: 10px;
	padding: 10px;
}

.statistic-container{
	display: flex;
}

.statistic-text{
	flex: 40%;
}

.statistic-chart{
	flex: 30%;
}

.chart-display{
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.chart-title{
	padding: 10px;
	display: flex;
	margin-left: 130px;
}

.text-statistic{
	margin: 15px;
	padding: 10px;
}

.detail-statistic{
	margin: 15px;
}

.detail-statistic ul li{
	margin-left: 20px;
}

.quote3{
	font-size: 1.3rem;
}
/*
	CSS for footer
*/
.footer{
	padding: 10px;
	margin: 10px;
	height: 200px;
	background-color: #a0a0a0;
}

.footer-table{
	display: flex;
}

.social-icon{
	flex: 20%;
	margin: 10px;
	padding: 10px;
	font-size: 30px;
}

.social-icon i:hover{
	border: none;
	padding: 10px;
	border-radius: 5px;
	background-color: blue;
	color: #fff;
	cursor: pointer;
}

.info-contain{
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
}

.info-link{
	margin-top: 25px;
}

.info-link a{
	text-decoration: none;
}

.info-link a:hover{
	border-bottom: 1px solid #fff;
}

.related-link{
	flex: 30%;
	margin: 10px;
	display: grid;
	grid-template-columns: 45% 50%;
}

.related-link a{
	text-decoration: none;
	color: #cdf7f7;
}

.related-link a:hover{
	border-bottom: 1px solid #000;
}

.something-else{
	flex: 50%;
	margin: 10px;
}

.copyright{
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*
	For the additional infomation.
*/

.add-info{
	padding: 20px;
	margin: 10px;
}

.add-ske{
	display: flex;
}

.add-left-side{
	flex: 80%;
}

.add-right-side{
	flex: 20%;
	margin: 10px;
	padding: 10px;
	border-left: 1px solid #000;
}

.add-right-side h3{
	border-bottom: 2px solid #328da8;
}

.add-right-side ul {
	list-style-type: none;
	margin: 10px;
}

.add-right-side ul li{
	padding: 5px;
}

.add-right-side ul li a{
	color: #000;
	text-decoration: none;
}

.add-right-side ul li a:hover{
	border-bottom: 1px solid #328da8;
}

.add-left-side{
	display: grid;
	grid-template-rows: 50px 200px;
}

.add-left-side .add-left-side-top{
	display: flex;
	align-items: center;
}

.add-left-side .add-left-side-top span{
	font-size: 30px;
	margin-left: 10px;
	margin-right: 10px;
}

.add-left-side .add-left-side-top span:hover{
	color: #29a9cf;
	cursor: pointer;
}

.add-left-side .add-left-side-top .add-left-link a{
	text-decoration: none;
	padding: 10px;
}

.add-left-side .add-left-side-top .add-left-link a:first-child{
	background-color: #29a9cf;
	border-radius: 5px;
}

.add-left-side .add-left-side-top .add-left-link a:hover{
	border-radius: 5px;
	background-color: #29a9cf;
	cursor: pointer;
}
.add-left-side-bot{
	display: grid;
	grid-template-columns: 30% 70%;
}

.add-left-side-bot{
	margin: 10px;
}

.add-left-side-bot .add-image img{
	width: 70%;
	display: block;
}

/*
	responsive for the small screen devices
*/
@media screen and (max-width: 460px){
*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}
.containerr{
		padding: 50px;
		margin-top: 130px;
		margin-left: -20px;
		color: #4d4a46;
		width: 700px;	
	}

.fiveK{
	border: 2px solid #323ea8;
	width: 250px;
	padding: 10px;
	box-shadow: 1px 1px 1px 1px #323ea8;
	background-color: #aaf2f1;
	}

.box{
	margin-left: 300px;
	width: 50%;
	padding: 20px;
	height: 40%;
	border: 2px solid #323ea8;
	box-shadow: 1px 1px 1px 1px #323ea8;
	background-color: #aaf2f1;
	}

.addMenu{
	margin-top: -50px;
	margin-bottom: 70px;
	width: 100%;
	}

.intro{
	margin: 10px;
	padding: 10px;
	width: 700px;
	}

.intro-content{
		display: grid;
		grid-template-columns: 50% 50%;
	}

.intro-content-founder{
		width: 700px;
	}	

.founder-info p{
	display: none;
	}
/*Responsvive chart part*/
.statistic{
	margin: 10px;
	padding: 10px;
	width: 700px;
}

.statistic-container{
	display: block;
}

.chart-display{
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.chart-title{
	padding: 10px;
	display: flex;
	margin-left: 130px;
}
/*Respnsive foooter*/
.footer{
	padding: 10px;
	margin: 10px;
	height: auto;
	background-color: #a0a0a0;
	width: 700px;
}

.footer-table{
	display: flex;
}

.social-icon{
	flex: 20%;
	margin: 10px;
}

.related-link{
	flex: 50%;
	margin: 10px;
	display: grid;
	grid-template-columns: 70% 30%;
}

.something-else{
	flex: 30%;
	margin: 10px;
}

}
/*
	Responsive for the big screen devices
*/
@media screen and (min-width: 460px) and (max-width:1024px){
.containerr{
		padding: 70px;
		margin: 10px;
		color: #4d4a46;
		width: 980px;
	}

.fiveK{
	border: 2px solid #323ea8;
	width: 200px;
	padding: 10px;
	margin: 10px;
	box-shadow: 1px 1px 1px 1px #323ea8;
	background-color: #aaf2f1;
	}

.box{
	padding: 10px;
	margin-left: 100px;
	width: 40%;
	border: 2px solid #323ea8;
	box-shadow: 1px 1px 1px 1px #323ea8;
	background-color: #aaf2f1;
	}

.addMenu{
	margin-top: -50px;
	margin-bottom: 70px;
	width: 100%;
	}

	.intro{
	margin: 10px;
	padding: 10px;
	width: 1000px;
	}

.intro-content{
		display: grid;
		grid-template-columns: 50% 50%;
	}
	
.intro-content-founder{
	display: flex;
}

.founder-info p{
	display: none;
	}
/*Responsvive chart part*/
.statistic{
	margin: 10px;
	padding: 10px;
	width: 1000px;
}

.statistic-container{
	display: block;
}

.chart-display{
	width: 300px;
	height: 300px;
	margin: 0 auto;
}

.chart-title{
	padding: 10px;
	display: flex;
	margin-left: 130px;
}
/*Respnsive foooter*/
.footer{
	padding: 10px;
	margin: 10px;
	height: auto;
	background-color: #a0a0a0;
	width: 1000px;
}

.footer-table{
	display: flex;
}

.social-icon{
	flex: 20%;
	margin: 10px;
}

.related-link{
	flex: 50%;
	margin: 10px;
	display: grid;
	grid-template-columns: 70% 30%;
}

.something-else{
	flex: 30%;
	margin: 10px;
}
}